<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<script src="../static/webcam.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body class="flex justify-content items-center h-screen">
    <div class="container mx-auto">
        <div class="flex min-h-screen flex-col justify-center overflow-hidden bg-white py-6 sm:py-12">
            <div class="mx-auto max-w-4xl rounded-3xl bg-white p-20 text-center shadow-lg">
              <h2 class="text-5xl font-bold leading-tight ">Please look at the camera</h2>
              <p class="mt-5 text-xl leading-8 text-[#445D48]">Elevate your listening experience with our emotion-based music selection.</p>
              <div id="my_photo_booth">
                <div id="my_camera" class="mt-5 mr-1"></div>
                <div id="results" class="mt-5 mr-1 hidden">
                    <!-- Your captured image will appear here... -->
                </div>
                <form>
                    <div id="pre_take_buttons">
                      <!-- This button is shown before the user takes a snapshot -->
                      <input
                        type="button"
                        class="btn btn-success btn-squared"
                        value="CAPTURE"
                        onClick="preview_snapshot()"
                      />
                    </div>
            
                    <div id="post_take_buttons" style="display: none">
                      <!-- These buttons are shown after a snapshot is taken -->
                      <input
                        type="button"
                        class="btn btn-danger btn-squared responsive-width"
                        value="&lt; AGAIN"
                        onClick="cancel_preview()"
                      />
                      <input
                        type="button"
                        class="btn btn-success btn-squared responsive-width"
                        value="SAVE &gt;"
                        onClick="save_photo()"
                        style="font-weight: bold"
                      />
                    </div>
                  </form>
              </div>
              
            </div>
        </div>
    </div>
</div>
</body>
<script language="JavaScript">
    Webcam.set({
      // live preview size
      width: '100%',
      height: '100%',

      // device capture size
      dest_width: 640,
      dest_height: 480,

      // final cropped size
      crop_width: 480,
      crop_height: 480,

      // format and quality
      image_format: "jpeg",
      jpeg_quality: 90,

      // flip horizontal (mirror mode)
      flip_horiz: true,
    });
    Webcam.attach("#my_camera");
  </script>
  <script language="JavaScript">
    // preload shutter audio clip

    function preview_snapshot() {
      // play sound effect
      // freeze camera so user can preview current frame
      Webcam.freeze();

      // swap button sets
      document.getElementById("pre_take_buttons").style.display = "none";
      document.getElementById("post_take_buttons").style.display = "";
    }

    function cancel_preview() {
      // cancel preview freeze and return to live camera view
      Webcam.unfreeze();

      // swap buttons back to first set
      document.getElementById("pre_take_buttons").style.display = "";
      document.getElementById("post_take_buttons").style.display = "none";
    }

    function save_photo() {
      // actually snap photo (from preview freeze).
      Webcam.snap(function (data_uri) {
        // display results in page
        console.log(data_uri.split(",")[0]);
        console.log(data_uri.split(",")[1]);
        // shut down camera, stop capturing
        Webcam.reset();
        const request = {
          photo_cap: data_uri.split(",")[1],
        };
        console.log(request);
        axios
          .post("http://127.0.0.1:5000" + "/photo_cap", request, {
            "Content-Type": "application/json",
          })
          .then((response) => {
            // var response = data.response;
            console.log("response:", response);
          })
          .catch((e) => console.log(e));
        // $.getJSON('http://127.0.0.1:5000' + '/_photo_cap', {
        //     photo_cap: data_uri,
        // },function(data){
        //     var response = data.response;
        // });
      });
    }
  </script>
</html>