<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&family=Quicksand:wght@300;400;700&family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<script src="../static/webcam.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body class="flex justify-content items-center h-screen">
    <div class="container mx-auto">
        <div class="flex min-h-screen flex-col justify-center items-center overflow-hidden bg-white py-6 sm:py-12">
            <div class="mx-auto max-w-4xl rounded-3xl bg-white p-16 text-center shadow-lg">
              <h2 class="text-5xl font-bold leading-tight ">Please look at the camera</h2>
              <p class="mt-2 text-xl leading-8 text-[#445D48]">Elevate your listening experience with our emotion-based music selection.</p>
              <div id="my_photo_booth" class= "flex flex-col items-end">
                <div id="my_camera" class="mt-5 mr-1"></div>
                <div class ="flex flex-row justify-center align-center mt-3 hidden" id="load">
                  <p class="font-bold text-lg" id="text">Detecting Face</p>
                  <img class="w-[50px]" src="../static/loading.gif" alt="">
                </div>
                <p class="mt-2 text-orange-600 font-bold hidden" id="warning">No Face Detected. Please try again..</p>
            </div>
            
        </div>
    </div>
</div>
</body>
<script language="JavaScript">
    Webcam.set({
      // live preview size
      width: '100%',
      height: '100%',

      // device capture size
      dest_width: 640,
      dest_height: 480,

      // final cropped size
      crop_width: 480,
      crop_height: 480,

      // format and quality
      image_format: "jpeg",
      jpeg_quality: 90,

      // flip horizontal (mirror mode)
      flip_horiz: true,
    });
    Webcam.attach("#my_camera");
</script>
<script language="JavaScript">
    // preload shutter audio clip
   window.onload = function() {
    save_photo()
   }
    function save_photo() {
      Webcam.on('load', function() {
        var loading = document.getElementById("load")
        var text = document.getElementById("text")
        var warning = document.getElementById("warning")
        loading.classList.remove("hidden")
        // loading.classList.add()
       setTimeout(function() {
        text.innerText = "Analysing"
        Webcam.snap(function (data_uri) {
        const request = {
          photo_cap: data_uri.split(",")[1],
        };
        console.log(request);
        axios
          .post("http://127.0.0.1:5000" + "/photo_cap", request, {
            "Content-Type": "application/json",
          })
          .then((response) => {
            console.log("response:", response);
          })
          .catch((e) => console.log(e));
        
        axios
        .get("http://127.0.0.1:5000/analyse")
        .then((response)=>{
          console.log("analysis:", response);
          loading.classList.add("hidden")
          text.innerText ="Detecting Face"
          window.location.href = 'http://127.0.0.1:5000/music'
        })
        .catch((e) => {
          console.log(e)
          loading.classList.add("hidden")
          text.innerText ="Detecting Face"
          warning.classList.remove("hidden")
        }
        );
        
      });
       }, 3000);
      })
      
    }
</script>
</html>